/* common */

:root {
    --main-color: #0a336e;
    --yellow-color: #fff3b2;
    --blue-color: #e7efff;
    --green-color: #e2f9f4;
    --gray-color: #2c2c2c;
    --txt-color: #555;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

select {
    appearance: none;
}

.layout-fixed .main-sidebar {
    background-color: #fff;
}

.nav-sidebar .nav-link p {
    color: var(--main-color);
}

.flex {
    display: flex;
}

.cnt {
    margin-top: 50px;
}

.cnt p {
    margin: 0;
}

/* wrapper */

.content-wrapper {
    background: none;
}

/* 대쉬보드  / 계약 현황*/

.dash .tit01 {
    font-size: 18px;
    font-weight: 700;
}

.dash .current {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}
.dash .card-body {
    padding: 30px;
    box-sizing: border-box;
}

.dash .current .txt_box {
}

.dash .current .txt_box b {
    margin: 0;
    font-size: 24px;
}

.dash .current .input_box {
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    padding: 10px 16px;
}

.dash .current .input_box input {
    border: none;
    outline: none;
}

.docu_progress {
    position: relative;
}

.docu_progress p {
    margin: 0;
}

.docu_progress ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.docu_progress ul li {
    position: relative;
    width: calc(100% / 4);
    padding: 25px;
    box-sizing: border-box;
    border: 1px solid var(--gray-color);
    border-radius: 4px;
    cursor: pointer;
}

.docu_progress ul li::after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(45deg);
    border: 1px solid var(--gray-color);
    border-left: none;
    border-bottom: none;
}

.docu_progress ul li .txt01 {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

.docu_progress ul li .txt01::after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--bs-purple);
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.docu_progress ul li:nth-child(2) .txt01::after {
    background-color: var(--bs-red);
}

.docu_progress ul li:nth-child(3) .txt01::after {
    background-color: var(--bs-blue);
}

.docu_progress ul li:nth-child(4) .txt01::after {
    background-color: var(--bs-primary-border-subtle);
}

.docu_progress ul li .num {
    font-size: 24px;
}

/* 대쉬보드 / 바로 시작하기 */

.dash .start_area {
}

.dash .start_area p {
    margin: 0;
}

.dash .start_area .tit01 {
    margin-bottom: 20px;
}

.dash .start_area .box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dash .start_area .box li {
    position: relative;
    width: calc(100% / 4);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.dash .start_area .box li .txt_box {
}

.dash .start_area .box li .txt_box .txt01 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.dash .start_area .box li .txt_box .txt02 {
    font-size: 14px;
    word-break: keep-all;
}

.dash .start_area .box li .img_box {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-color: #0a336e;
}

.dash .start_area .box li .img_box i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 대쉬보드 / 이용가이드 */

.dash .others .guide {
}

.dash .others .guide .tit01 {
}

.dash .others .guide .box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dash .others .guide .list {
    text-align: center;
}

.dash .others .guide .list img {
    width: 100%;
    border-radius: 5px;
}

.dash .others .guide .list p {
    margin-top: 5px;
    font-size: 14px;
}

/* 대쉬보드 / 서비스 지원 */

a {
    text-decoration: none;
    color: inherit;
}

.dash .others .api {
}

.dash .others .api .tit01 {
}

.dash .others .api ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash .others .api ul li {
    position: relative;
    width: calc(100% / 3);
    padding-top: 15px;
    text-align: center;
}

.dash .others .api ul li::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--gray-color);
}

.dash .others .api ul li:last-child:after {
    display: none;
}

.dash .others .api ul li a {
}

.dash .others .api ul li a img {
}

.dash .others .api ul li a p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
}

/* 대쉬보드 / 기간별 사용 현황 */

.dash .duration {
}

.dash .duration .tit01 {
    margin-bottom: 1rem;
}

.dash .duration p {
    margin: 0;
}

.dash .duration .calendar {
    position: relative;
    padding: 10px 16px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.dash .duration .calendar input {
    width: calc(100% - 30px);
    outline: none;
    border: none;
}

.dash .duration .calendar i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.dash .duration .useNum {
    margin-top: 5px;
    padding: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #797979;
    text-align: center;
}

/* search-bar */

.search_bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 50px 0 30px;
}

.search_bar.mb {
    display: none;
}

.search_bar .flex {
}

.search_bar p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--gray-color);
}

.search_bar input {
    width: calc(100% - 30px);
    height: 34px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-size: 14px;
}

.search_bar input::placeholder {
    font-size: 14px;
    color: var(--txt-color);
}

.search_bar .select_box {
    position: relative;
    border: 1px solid var(--gray-color);
    border-radius: 3px;
    overflow: hidden;
}

.search_bar .select_box::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: url("../images/ico_downBtn.png") no-repeat center;
    background-size: 8px;
}

.search_bar select {
    height: 34px;
    font-size: 14px;
    color: var(--txt-color);
    padding: 5px;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.search_bar button {
    position: relative;
    height: 34px;
    background: none;
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 3px;
    font-size: 14px;
    color: var(--txt-color);
}

.search_bar button::after {
    content: "";
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: url("../images/ico_downBtn.png") no-repeat center;
    background-size: 8px;
}

.search_bar .word select {
    width: 110px;
}

.search_bar .word .input_box {
    display: flex;
    width: 190px;
    border: 1px solid var(--gray-color);
    border-radius: 3px;
}

.search_bar .word .input_box input {
    width: 100%;
}

.search_bar .word .input_box button {
    border: none;
}

.search_bar .word .input_box button::after {
    display: none;
}

.search_bar .date select {
    width: 130px;
}

.search_bar .input_box {
    width: 220px;
    border: 1px solid var(--gray-color);
    border-radius: 3px;
}

.search_bar .date .input_box input {
    border: none;
}

.search_bar .date .input_box button {
    border: none;
}

.search_bar .date .input_box button::after {
    display: none;
}

.search_bar .label button {
    width: 180px;
    height: 36px;
    text-align: left;
}

.search_bar .condition select {
    width: 160px;
}

.search_bar .docu button {
    width: 140px;
    height: 36px;
    text-align: left;
}

.search_bar .hide select {
    width: 185px;
}

/* list_tit */

.list_tit {
    border-bottom: 1px solid #dee2e6;
}

.list_tit ul {
    padding: 0;
    margin: 0;
}

.list_tit > ul {
    display: flex;
    align-items: center;
    height: 40px;
}

.list_tit > ul .list:nth-child(1) {
    flex-basis: 135px;
}

.list_tit > ul .list:nth-child(2) {
    flex: 1 1 auto;
}

.list_tit > ul .list:nth-child(3) {
    flex-basis: 160px;
}

.list_tit > ul .list:nth-child(4),
.list_tit > ul .list:nth-child(5),
.list_tit > ul .list:nth-child(6) {
    flex-basis: 160px;
}

.list_tit ul .list {
    position: relative;
    margin: 0 10px;
    font-size: 13px;
    color: var(--txt-color);
}

.list_tit ul .list.active_date {
    position: relative;
}

.list_tit ul .list.active_date ul {
    position: absolute;
    display: none;
}

.info_con {
    border-bottom: none;
}

.info_con > ul {
    height: auto;
    display: block;
    box-sizing: border-box;
}

.info_con > ul > li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #dee2e6;
}

.info_con .list {
    color: #191919;
}

.list_tit .list .deletBtn {
    cursor: pointer;
}

/* list info */

.info_con ul .list {
    margin: 0 10px;
}

.info_con ul li div.list:nth-child(1) {
    flex-basis: 70px;
    flex-shrink: 0;
}

.info_con ul li .flex {
    align-items: center;
}

.info_con ul li.sign_need .sign {
    color: #fff;
}

.info_con ul li.sign_need .sign span {
    display: block;
    width: 100%;
    background-color: var(--bs-purple);
    border-radius: 5px;
}

.info_con ul li.mysign .sign span {
    display: block;
    width: 100%;
    background-color: var(--bs-orange);
    border-radius: 5px;
    color: #fff;
}

.info_con ul li.sign_wait .sign span {
    display: block;
    width: 100%;
    background-color: var(--bs-yellow);
    border-radius: 5px;
}

.info_con ul li.sign_wait .list.sign span::after {
    background-color: #191919;
}

.info_con ul li.completed .sign span {
    display: block;
    width: 100%;
    background-color: var(--bs-blue);
    border-radius: 5px;
    color: #fff;
}

.info_con ul li.sign_reject .sign span {
    display: block;
    width: 100%;
    background-color: var(--bs-danger);
    border-radius: 5px;
    color: #fff;
}

.info_con ul li.sign_cancer .sign span {
    display: block;
    width: 100%;
    background-color: var(--bs-pink);
    border-radius: 5px;
    color: #fff;
}

.info_con ul li.request_cancel .list.sign {
    background-color: var(--bs-danger-bg-subtle);
}

.info_con ul li.request_cancel .list.sign span::after {
    background-color: #191919;
}

.info_con ul li.reser .list.sign span {
    display: block;
    width: 100%;
    background-color: var(--bs-primary-border-subtle);
    border-radius: 5px;
}

.info_con ul li.reser .list.sign span::after {
    background-color: #191919;
}

.info_con ul li .flex .list:nth-child(1) {
    flex-basis: 135px;
    border-radius: 5px;
}

.info_con ul .list:nth-child(2) {
    flex: 1 1 auto;
}

.info_con ul li .flex .list:nth-child(3),
.info_con ul li .flex .list:nth-child(4),
.info_con ul li .flex .list:nth-child(5),
.info_con ul li .flex .list:nth-child(6),
.info_con ul li .flex .list:nth-child(7) {
    flex-basis: 160px;
    font-size: 14px;
}

.info_con .list.sign {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.25px;
}

.info_con .list.sign span::after {
    content: "";
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #797979;
    background-color: #fff;
}

.info_con .list.sign span {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 10px 5px 20px;
}

.info_con .list > p {
    margin-bottom: 0;
}

.info_con .list .type {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.info_con .list .docu_info {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    text-overflow: ellipsis;

    overflow-x: hidden;
    font-size: 12px;
    font-weight: 700;
    color: #797979;
}

.info_con .list .docu_info p {
    margin: 0;
}

.info_con .list .docu_info .time_box {
    padding: 0 3px;
    border-radius: 5px;
    color: var(--txt-color);
}

.info_con .list .docu_info .time_box .time {
    display: block;
    padding: 0 3px;
    border-radius: 5px;
    background-color: var(--bs-border-color);
}

.info_con .list .docu_info .time_box .time.reject {
    background-color: var(--bs-danger);
    color: #fff;
}

.info_con .list .moreBtn {
    width: 100%;
    padding: 10px 0;
    border: 1px solid var(--bs-border-color);
    border-radius: 5px;
    text-align: center;
}

.info_con .list .moreBtn a {
    display: block;
    font-size: 14px;
}

.info_con .list .stamp {
    font-size: 14px;
}

.info_con .list .stamp i {
    padding-right: 5px;
}

.info_con .list.check {
    position: relative;
    cursor: pointer;
}

.info_con .list.check .stamp {
    position: relative;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid var(--bs-primary);
    border-radius: 5px;
    font-weight: 700;
}

.info_con .list.not_checking {
    position: relative;
    cursor: pointer;
}

.info_con .list.not_checking .stamp {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 700;
}

.info_con .list.checking {
    position: relative;
    cursor: pointer;
}

.info_con .list.checking .stamp {
    position: relative;
    width: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 700;
}

.info_con .list.add_menu {
    position: relative;
}

.info_con ul .menu {
    flex-basis: 80px;
}

.info_con ul .menu .dropdown {
    text-align: center;
}

/* 탬플릿 페이지 */

.search_bar.temp {
    margin: 30px 0;
}

.content.temp .search_bar {
    flex-wrap: wrap;
}

.content.temp .search_bar .label .labelBtn {
    width: 150px;
    text-align: left;
}

.search_bar.temp .word .input_box {
    width: 245px;
    border-radius: 3px;
}

.template .list_tit > ul {
    display: block;
    height: auto;
}

.template .list_tit .flex {
    display: flex;
}

.template .list_tit ul li {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    padding: 15px 0;
}

.content.temp .list_tit {
}

.content.temp .list_tit ul {
}

.content.temp .list_tit ul li.list {
}

.content.temp .list_tit ul li.list:nth-child(1) {
    flex: 1 1 auto;
}

.content.temp .list_tit ul li.list:nth-child(2) {
    flex-basis: 85px;
    flex: none;
}

.content.temp .info_con {
}

.content.temp .info_con > ul {
}

.content.temp .info_con > ul li {
}

.content.temp .info_con > ul li > div:nth-child(1) {
    flex-basis: 70px;
}

.content.temp .info_con > ul li ul .list:nth-child(1) {
    flex: 1 1 auto;
}

.content.temp .info_con > ul li ul .list:nth-child(2) {
    flex-basis: 160px !important;
    flex: none;
}

.content.temp .info_con > ul li ul .list:nth-child(3),
.content.temp .info_con > ul li ul .list:nth-child(4) {
    flex-basis: 160px;
}

.content.temp .info_con > ul li ul.menu {
    flex-basis: 85px;
}

/* dropdown */

.info_con .dropdown-toggle::after,
.template .list_tit .dropdown-toggle::after {
    display: none !important;
}

/* 마이페이지 / 요금제 */

.myplan {
}

.myplan .mypage-wrap {
    background-color: #f8f8f8;
}

.myplan .con_layout {
    max-width: 800px;
    margin: 0 auto;
}

.myplan .tab {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #eee;
}

.myplan .tab li {
    width: calc(100% / 2);
    padding: 5px 0;
    text-align: center;
}

.myplan .tab li.on {
    background-color: #fff;
    border-radius: 10px;
}

.myplan .tab li.on a {
    color: var(--txt-color);
}

.myplan .tab li a {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--txt-color);
}

/* 마이페이지 / 요금제 / 요금제 이용가능기간 */

.myplan .sec {
    margin-top: 20px;
    padding: 45px;
    background-color: #fff;
    box-shadow: 0 10px 20px #eee;
    border-radius: 5px;
}

.myplan .plan_date {
    text-align: center;
}

.myplan .plan_date p {
    margin: 0;
}

.myplan .plan_date .txt01 {
    font-size: 14px;
}

.myplan .plan_date .link {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px 10px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: var(--main-color);
}

.myplan .plan_date .link::after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(45deg);
    border-left: none;
    border-bottom: none;
}

.myplan .plan_date .link a {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

.myplan .plan_date .link a span {
}

/* 마이페이지 / 요금제 / 요금제 */

.myplan .tit01 {
    margin-bottom: 25px !important;
    font-size: 18px;
    font-weight: 700;
}

.myplan .plan_name p {
    margin: 0;
}

.myplan .plan_name {
}

.myplan .plan_name .txt01 {
    font-size: 16px;
    font-weight: 700;
}

.myplan .plan_name .txt02 {
    font-size: 14px;
    color: #797979;
}

/* 마이페이지 / 요금제 / 사용량 */

.myplan .plan_use {
}

.myplan .plan_use p {
    margin-bottom: 0;
}

.myplan .plan_use .date {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--gray-color);
}

.myplan .plan_use .date .txt01 {
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

.myplan .plan_use .date .txt01 span {
    font-size: 14px;
    color: #797979;
}

.myplan .plan_use .use_progress {
}

.myplan .plan_use .use_progress .info {
    display: flex;
    gap: 30px;
}

.myplan .plan_use .use_progress .info > div {
    position: relative;
    padding-left: 40px;
    font-size: 14px;
    font-weight: 700;
}

.myplan .plan_use .use_progress .info .able {
}

.myplan .plan_use .use_progress .info .able::before {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 3px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--yellow-color);
    border-radius: 10px;
}

.myplan .plan_use .use_progress .info .disable {
}

.myplan .plan_use .use_progress .info .disable::before {
    content: "";
    position: absolute;
    display: block;
    width: 35px;
    height: 3px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--gray-color);
    border-radius: 10px;
}

.myplan .plan_use .use_progress .progress_bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.myplan .plan_use .use_progress .progress_bar .txt_box {
}

.myplan .plan_use .use_progress .progress_bar .txt01 {
    flex-grow: 3;
    font-size: 16px;
    font-weight: 700;
}

.myplan .plan_use .use_progress .progress_bar .txt02 {
    font-size: 16px;
    font-weight: 700;
}

.myplan .plan_use .use_progress .progress_bar .txt02 span {
    font-size: 14px;
    color: #797979;
}

.myplan .plan_use .use_progress .progress_bar .bar {
    position: relative;
    width: 150px;
    height: 3px;
    background-color: var(--gray-color);
}

.myplan .plan_use .use_progress .progress_bar .bar .sum {
    width: 120px;
    height: 3px;
    background-color: var(--yellow-color);
}

.myplan .plan_use .use_progress .caution {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--yellow-color);
}

.myplan .plan_use .use_progress .caution .fa-solid {
    position: relative;
    top: 2px;
}

.myplan .plan_use .use_progress .caution p {
    font-size: 14px;
    word-break: keep-all;
}

/* 마이페이지 / 모달영역 */

.modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 90000;
}

.modal .area .tit01 {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.modal .area .tit02 {
    font-size: 16px;
    font-weight: 700;
}

.method_con {
}

.method_con.show {
    display: block;
}

.method_con p {
    margin: 0;
}

.modal .area {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    max-width: 500px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.method_con .area .box {
    margin-bottom: 35px;
}

.method_con .area .flex {
    justify-content: space-between;
    align-items: center;
}

.method_con .area .flex a {
    text-decoration: underline;
}

.method_con .area .box .info {
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.method_con .area .box .info .txt01 {
    font-size: 12px;
}

.modal .area .btn_box {
    border-top: 1px solid var(--txt-color);
    padding-top: 35px;
}

.modal .area .btn_box ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal .area .btn_box ul li {
    padding: 10px 15px;
    box-sizing: border-box;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.modal .area .btn_box ul li.cancel {
    background-color: var(--bs-secondary-bg-subtle);
}

.modal .area .btn_box ul li.save {
    background-color: var(--bs-focus-ring-color);
}

.add_card {
}

.add_card.show {
    display: block;
}

.add_card p {
    margin: 0;
}

.add_card .add_con {
}

.add_card .add_con .box {
    margin-bottom: 35px;
}

.add_card .add_con .box .tit02 {
    margin-bottom: 10px;
}

.add_card .add_con .box .info {
    display: flex;
    gap: 10px;
}

.add_card .add_con .box .info input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.add_card .add_con .box .flex {
}

.add_card .add_con .box .flex .select_date {
    width: 50%;
}

.add_card .add_con .box .flex .select_date .info {
}

.add_card .add_con .box .flex .select_date .info select {
    position: relative;
    width: 45%;
    padding: 5px;
    box-sizing: border-box;
    background: url(../images/ico_downBtn.png) no-repeat;
    background-size: 8px;
    background-position: 90% center;
}

.add_card .add_con .box .flex .card_num {
    width: 50%;
}

.add_card .add_con .box .flex .card_num .info {
}

.add_card .add_con .box .flex .card_num .info input {
    width: 100%;
}

.deposit {
    display: none;
}

.deposit.show {
    display: block;
}

.deposit p {
    margin: 0;
}

.deposit .deposit_con {
}

.deposit .deposit_con .txt02 {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
}

.deposit .deposit_con .box {
    margin-bottom: 35px;
}

.deposit .deposit_con .box .tit02 {
    margin-bottom: 10px;
}

.deposit .deposit_con .box .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray-color);
    padding: 10px;
    box-sizing: border-box;
}

.deposit .deposit_con .box .info input {
    width: 100%;
}

.deposit .deposit_con .box input {
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* 모달창 / 예치금 내역 */

.deposit_his {
}

.deposit_his.show {
    display: block;
}

.deposit_his p {
    margin: 0;
}

.deposit_his .flex .closeBtn {
    cursor: pointer;
}

.deposit_his .txt01 {
    font-size: 16px;
    color: #555;
}

.deposit_his.modal .area {
    width: 800px;
    max-width: 800px;
    min-height: 400px;
}
.deposit_his .deposit_his_con {
}

.deposit_his .deposit_his_con .refund_request {
    position: relative;
    display: block;
    margin-bottom: 30px;
    text-align: right;
    text-decoration: underline;
}

.deposit_his .deposit_his_con .refund_request::after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: 1px solid var(--gray-color);
    border-left: none;
    border-bottom: none;
}

.deposit_his .deposit_his_con .refund_request .txt01 {
    padding-right: 10px;
}

.deposit_his .deposit_his_con .his_more {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
}

.deposit_his .area .flex {
    justify-content: space-between;
}

.deposit_his .area table {
    width: 100%;
    text-align: center;
}

.deposit_his .area table .no_data {
    padding: 50px 0;
    font-weight: 700;
}

.deposit_his .area table,
.deposit_his .area th,
.deposit_his .area td {
    padding: 5px;
    border-collapse: collapse;
}

.deposit_his .area table thead {
    border-bottom: 1px solid var(--gray-color);
}

/* 마이페이지 / 요금제 / 결제 수단 및 내역 */

.bill .tab {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #eee;
}

.bill .tab li {
    width: calc(100% / 2);
    padding: 5px 0;
    text-align: center;
}

.bill .tab li.on {
    background-color: #fff;
    border-radius: 10px;
}

.bill .tab li.on a {
    color: var(--txt-color);
}

.bill .tab li a {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--txt-color);
}

.bill .mypage-wrap {
    background-color: #f8f8f8;
}

.bill .tit01 {
    font-size: 18px;
    font-weight: 700;
}

.bill .tit02 {
    font-size: 16px;
    font-weight: 700;
}

.bill .tit02 .charge {
    font-size: 14px;
}

.bill p {
    margin: 0;
}

.bill .con_layout {
    max-width: 800px;
    margin: 0 auto;
}

.bill .sec {
    margin-top: 20px;
    padding: 45px;
    background-color: #fff;
    box-shadow: 0 10px 20px #eee;
    border-radius: 5px;
}

.bill .payment {
}

.bill .payment .flex {
    align-items: center;
    justify-content: space-between;
}

.bill .payment .flex .represent {
    display: none;
    margin-left: 5px;
    padding: 3px 5px;
    background-color: var(--bs-primary-bg-subtle);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #0a336e;
}

.bill .payment .flex .represent.show {
    display: block;
}

.bill .payment .flex a {
    text-decoration: underline;
}

.bill .payment > div {
    margin-top: 25px;
}

.bill .payment > div > .flex {
    margin-bottom: 10px;
}

.bill .payment .box {
    padding: 15px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.bill .payment .box .txt01 {
    font-size: 14px;
    word-break: keep-all;
}

.bill .payment .box > ul {
}

.bill .payment .box > ul .card_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bill .payment .box > ul .card_info .info {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.bill .payment .box > ul .card_info .info .bold {
}

.bill .payment .box > ul .card_info .info .txt02 {
    margin: 0 10px;
}

.bill .payment .box > ul .card_info .info .use {
    display: none;
    background-color: var(--bs-primary-bg-subtle);
    padding: 5px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 12px;
}

.bill .payment .box > ul .card_info.use_card .info .use {
    display: block;
}

.bill .payment .box > ul .card_info.use_card .info .use i {
    display: inline-block;
    padding-right: 5px;
}

.bill .payment .box .history {
    text-decoration: underline;
    cursor: pointer;
}

.bill .payment .box .dropdown-toggle::after {
    display: none;
}

/* 마이페이지 / 요금제 / 결제 알림용 이메일 */

.bill .email {
}

.bill .email .flex {
    margin-top: 25px;
    gap: 5px;
}

.bill .email .flex input.email_input {
    width: 250px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    outline: none;
}

.bill .email .flex button.submit_btn {
    outline: none;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
}

.bill .email .caution {
    font-size: 14px;
    color: var(--bs-danger);
}

.bill .payment_his {
}

.bill .payment_his .flex {
    justify-content: space-between;
    align-items: center;
}

.bill .payment_his .txt01 {
    margin: 25px 0;
    font-size: 14px;
}

.bill .payment_his .flex a {
    text-decoration: underline;
}

.bill .payment_his .txt01 a {
    text-decoration: underline;
}

.bill .payment_his table {
    width: 100%;
}

.bill .payment_his table,
.bill .payment_his th,
.bill .payment_his td {
    padding: 5px;
    border-collapse: collapse;
}

.bill .payment_his table thead {
    border-bottom: 1px solid var(--gray-color);
}

.bill .payment_his table tbody td {
    padding: 5px;
    box-sizing: border-box;
}

/* 챗봇 */

.chatbot .wrapper .inner {
    height: calc(100vh - 240px);
    margin-bottom: 100px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    overflow-y: scroll;
}
.chatbot .wrapper .inner p {
    margin: 0;
}
.chatbot .wrapper .inner .greeting {
    margin-bottom: 100px;
    text-align: center;
}

.chatbot .wrapper .inner .greeting p {
    margin: 0;
}
.chatbot .wrapper .inner .greeting .img_box {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 40px auto;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}
.chatbot .wrapper .inner .greeting .img_box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.chatbot .wrapper .inner .greeting .txt_box .txt01 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
}
.chatbot .wrapper .inner .greeting .txt_box .txt02 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    word-break: keep-all;
    color: #777;
}
.chatbot .wrapper .inner .greeting .select_list {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    text-align: left;
}
.chatbot .wrapper .inner .greeting .select_list .txt01 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #191919;
}
.chatbot .wrapper .inner .greeting .select_list > div > ul > li {
    margin-bottom: 5px;
}
.chatbot .wrapper .inner .greeting .select_list > div > ul > li a {
    font-size: 16px;
    color: #777;
}
.chatbot
    .wrapper
    .inner
    .greeting
    .select_list
    > div
    > ul
    > li
    .chatbot
    .wrapper
    .inner
    .greeting
    .select_list:last-child {
    margin-bottom: 0;
}
.chatbot .wrapper .inner .left {
    display: flex;
    margin-bottom: 50px;
    gap: 30px;
}
.chatbot .wrapper .inner div.left:last-child .content {
    margin-bottom: 350px;
}
.chatbot .wrapper .inner .left .profile {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}
.chatbot .wrapper .inner .left .profile img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
.chatbot .wrapper .inner .left .content ul {
    display: flex;
    flex-direction: column;
}
.chatbot .wrapper .inner .left .content ul li.chat_name {
    border: none !important;
    font-size: 14px;
    font-weight: 500;
}
.chatbot .wrapper .inner .left .content ul li {
    margin-bottom: 10px;
}
.chatbot .wrapper .inner .left .content ul li:nth-child(2) span {
    padding: 7px 20px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-radius: 0 10px 10px 10px;
    background-color: #fff;
}
.chatbot .wrapper .inner .left .content ul li span {
    display: inline-block;
    padding: 7px 20px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-radius: 10px 10px 10px 10px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    word-break: break-all;
}
.chatbot .wrapper .inner .left .content ul li .list_link {
    text-decoration: underline;
    color: red;
}
.chatbot .wrapper .inner .left .content ul li span ul {
    /* display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 700px; */
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list {
    width: 400px;
    border: 1px solid #777;
    border-radius: 5px;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list a {
    display: flex;
    /* display: -webkit-box; */
    display: -moz-box;
    display: -ms-flexbox;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    /* ios */
    -webkit-box-align: center;
    -webkit-box-pack: justify;

    /* fire */
    -moz-align-items: center;
    -moz-justify-content: space-between;

    /* IE */
    -ms-flex-align: center;
    -ms-flex-pack: justify;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .chat_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* ios */
    -webkit-box-align: center;
    -webkit-box-pack: justify;

    /* fire */
    -moz-align-items: center;
    -moz-justify-content: space-between;

    /* IE */
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    width: 100%;
    padding: 7px 20px;
    background: none;
    border: none;
    transition: all 0.2s;
    color: #191919;
    text-align: left;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .chat_btn .flex {
    align-items: center;
    gap: 5px;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .able {
    padding: 7px 20px;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .able .flex {
    align-items: center;
    gap: 5px;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .ban {
    padding: 7px 20px;
    background-color: var(--bs-danger);
    cursor: not-allowed;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .ban p,
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .ban i {
    color: #fff;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .ban i {
    display: none;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .ban:hover {
    background-color: var(--bs-danger);
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .complete {
    background-color: var(--bs-primary);
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .complete p,
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .complete i {
    color: #fff;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list .complete:hover {
    background-color: var(--bs-primary);
}
.chatbot .wrapper .inner .left .content ul li span ul .status {
    text-align: right;
}

.chatbot .wrapper .inner .left .content ul li span ul .status .link {
    text-decoration: underline;
}
.chatbot .wrapper .inner .left .content ul li span ul li:last-child {
    margin: 0;
}
.chatbot .wrapper .inner .left .content ul li span ul .btn_list:hover {
    background-color: var(--yellow-color);
    border: 1px solid #ffd800;
    transition: all 0.2s;
}
.chatbot .wrapper .inner .left .content .time {
    font-size: 14px;
}
.chatbot .wrapper .inner .right {
    margin-bottom: 50px;
}
.chatbot .wrapper .inner .right .content ul {
    display: flex;
    justify-content: end;
}
.chatbot .wrapper .inner .right .content ul li {
    margin-bottom: 10px;
}
.chatbot .wrapper .inner .right .content ul li span {
    display: inline-block;
    padding: 7px 20px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-radius: 10px 0 10px 10px;
    background-color: #ffdf00;
}
.chatbot .wrapper .inner .right .content ul li span ul {
}

.chatbot .wrapper .inner .right .content ul li span ul li {
}
.chatbot .wrapper .inner .right .content .time {
    font-size: 14px;
    text-align: right;
}
.chatbot .wrapper .inner .chat_box {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-top: 1px solid #777;
    background-color: #fff;
}
.chatbot .wrapper .inner .chat_box .border_box.focus {
    border: 1px solid #ffdf00;
}
.chatbot .wrapper .inner .chat_box .border_box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 480px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #777;
    border-radius: 40px;
}
.chatbot .wrapper .inner .chat_box .border_box .chat_input {
    width: calc(100% - 90px);
    height: 45px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}
.chatbot .wrapper .inner .chat_box .border_box .emoji_btn {
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
}
.chatbot .wrapper .inner .chat_box .border_box .emoji_btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chatbot .wrapper .inner .chat_box .border_box .chat_btn {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    border: none;
}
.chatbot .wrapper .inner .chat_box .border_box .chat_btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chatbot .wrapper .inner .chat_box .border_box .emoji_con.show {
    display: block;
}
.chatbot .wrapper .inner .chat_box .border_box .emoji_con {
    display: none;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #191919;
    border-radius: 20px;
    background-color: #fff;
}
.chatbot .wrapper .inner .chat_box .border_box .emoji_con ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.chatbot .wrapper .inner .chat_box .border_box .emoji_con ul li {
    width: calc(11.1111111111% - 6px);
    cursor: pointer;
}
.chatbot .wrapper .inner .chat_box .border_box .emoji_con ul li img {
    width: 100%;
}

@media (max-width: 1500px) {
    /* .list_tit > ul .list:nth-child(2),
    .info_con ul .list:nth-child(2) {
        flex: none;
        flex-basis: 273px;
    } */

    .list_tit > ul .list:nth-child(6),
    .info_con ul li .flex .list:nth-child(6) {
        display: none;
    }
}

@media (max-width: 1280px) {
    .list_tit ul .list {
        margin: 0 10px;
    }
    .info_con ul li .flex .list:nth-child(4),
    .list_tit ul .list:nth-child(4),
    .list_tit ul .list:nth-child(6) {
        display: none;
    }
}

@media (max-width: 1135px) {
    .list_tit > ul .list:nth-child(5),
    .info_con ul li .flex .list:nth-child(5) {
        display: none;
    }
}

@media (max-width: 1000px) {
    .info_con .list .docu_info .time_box {
        display: none;
    }
}

@media (max-width: 1024px) {
    .chatbot .wrapper .inner .left::last-child {
        margin-bottom: 350px;
    }
}

@media (max-width: 830px) {
    .deposit_his.modal .area {
        width: 95%;
        max-width: 95%;
    }
}

@media (max-width: 768px) {
    /* 대시보드 / 계약 현황 */
    .dash .current .input_box,
    .dash .duration .calendar {
        padding: 5px 16px;
    }

    .docu_progress ul {
        flex-wrap: wrap;
    }

    .docu_progress ul li {
        width: calc((100% / 2) - 10px);
    }

    /* 대시보드 / 바로 시작하기 */

    .dash .start_area .box {
        flex-wrap: wrap;
    }

    .dash .start_area .box li {
        width: calc((100% / 2) - 10px);
    }

    .dash .start_area .box li .img_box {
        display: none;
    }

    .list_tit {
        display: none;
    }

    .list_tit > ul {
        position: relative;
    }

    .info_con > ul > li {
        position: relative;
        align-items: flex-start;
    }

    .info_con ul li .flex .list:nth-child(1),
    .info_con ul li .flex .list:nth-child(6) {
        flex-basis: auto;
    }

    .info_con ul li .flex .list:nth-child(6) {
        font-size: 14px;
    }

    .info_con .list .type {
        margin: 5px 0;
    }

    .list_tit ul .list:nth-child(8) {
        position: absolute !important;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        flex-basis: auto;
        z-index: 1;
    }

    .info_con .list.add_menu {
        position: relative;
    }

    .info_con ul li .flex .list:nth-child(1) {
        order: 1;
        margin-bottom: 10px;
    }

    .list_tit ul .list:nth-child(2) {
        flex: auto;
        order: 2;
    }

    .info_con .list .stamp {
        font-size: 12px;
    }

    .info_con ul li div.list.check_box:nth-child(1) {
        display: none;
    }

    .info_con .list .docu_info .time_box {
        display: block;
    }

    .info_con ul li .flex {
        flex-direction: column;
        align-items: flex-start;
    }
    .info_con ul .list:nth-child(2) {
        order: 3;
    }
    .info_con ul li .flex .list:nth-child(3) {
        flex-basis: auto;
        order: 2;
    }

    .info_con ul li .flex .list:nth-child(4),
    .info_con ul li .flex .list:nth-child(5),
    .info_con ul li .flex .list:nth-child(6) {
        display: none;
    }

    /* 템플릿 */

    .content.temp .info_con > ul li ul .list:nth-child(2) {
        flex-basis: initial !important;
        order: 2;
    }

    .content.temp .info_con > ul li ul .list:nth-child(4) {
        display: block;
        flex-basis: initial !important;
    }

    /* 챗봇 */

    .chatbot .wrapper .inner .left .content ul li span {
        width: 100%;
    }

    .chatbot .wrapper .inner .left .content ul li span ul .btn_list {
        width: 100%;
    }
}

@media (max-width: 565px) {
    /* 대시보드 / 계약 현황 */
    .dash .current .input_box {
        width: 100%;
        margin-top: 15px;
    }

    .dash .current .input_box input {
        width: calc(100% - 30px);
    }

    .docu_progress ul li .txt01,
    .dash .start_area .box li .txt_box .txt01 {
        font-size: 1.2rem;
    }

    .docu_progress ul li .num {
        font-size: 1.2rem;
    }

    .dash .start_area .box li .txt_box .txt02,
    .dash .others .guide .box .list p,
    .dash .others .api ul li a p {
        font-size: 0.8rem;
    }

    /* 마이페이지 / 모달창 */

    .modal .area {
        top: 60px;
        padding: 20px;
    }

    /* 마이페이지 / 모달창 / 결제 수단 설정 */

    .method_con .area .box .info .txt01 {
        word-break: keep-all;
    }

    /* 마이페이지 / 모달창 / 카드추가 */

    .add_card .add_con .box .tit02 {
        margin-bottom: 8px;
        word-break: keep-all;
    }

    .add_card .add_con .box .flex {
        flex-wrap: wrap;
        gap: 10px;
    }

    .add_card .add_con .box .flex .select_date,
    .add_card .add_con .box .flex .card_num {
        width: 100%;
    }

    .add_card .add_con .box .flex .select_date .info select {
        width: 49%;
    }

    /* 마이페이지 / 모달창 / 예치금 내역 */

    .deposit_his .area table thead {
        display: none;
    }

    .deposit_his .area table tbody tr td:nth-child(1),
    .deposit_his .area table tbody tr td:nth-child(3),
    .deposit_his .area table tbody tr td:nth-child(4) {
        display: none;
    }

    .deposit_his .area table tbody {
        text-align: left;
    }

    /* 마이페이지 / 요금제 */

    .myplan .tit01 {
        font-size: 1rem;
    }

    .myplan .plan_date .link {
        padding: 5px 30px 8px 20px;
    }

    .myplan .plan_date .txt01,
    .myplan .plan_date .link a {
        font-size: 0.8rem;
        word-break: keep-all;
    }

    .myplan .plan_name .txt01 {
        font-size: 1.2rem;
    }

    .myplan .plan_name .txt02 {
        font-size: 0.8rem;
        word-break: keep-all;
    }

    .myplan .plan_use .date .txt01 {
        font-size: 0.8rem;
    }

    .myplan .plan_use .date .txt01 span {
        display: block;
    }

    .myplan .plan_use .use_progress .progress_bar {
        flex-wrap: wrap;
    }

    .myplan .plan_use .use_progress .progress_bar .bar {
        width: 100%;
    }

    .myplan .plan_use .use_progress .progress_bar .bar .sum {
        width: 90%;
    }

    .myplan .plan_use .use_progress .progress_bar .txt01 {
        font-size: 0.8rem;
    }

    .myplan .plan_use .use_progress .progress_bar .txt02,
    .myplan .plan_use .use_progress .progress_bar .txt02 span {
        font-size: 0.8rem;
    }

    .myplan .plan_use .use_progress .caution {
        padding: 10px;
    }

    .myplan .plan_use .use_progress .caution p {
        font-size: 0.8rem;
    }

    /* 마이페이지 / 결제 수단 및 내역 */

    .bill .tit02 {
        font-size: 1rem;
    }

    .bill .email .flex input {
        width: 100%;
    }

    .bill .email .flex button {
        min-width: 55px;
    }

    .bill .payment_his table thead {
        display: none;
    }

    .bill .payment_his table tbody td {
        font-size: 0.8rem;
    }

    .bill .payment_his table tbody td {
        display: none;
    }
    .bill .payment_his table tbody td:nth-child(2) {
        display: block;
    }

    .bill .payment_his .txt01 {
        word-break: keep-all;
    }
}

@media (max-width: 480px) {
    /* 대시보드 */

    .dash .card-body {
        padding: 20px;
    }

    .dash .current .txt_box b {
        font-size: 1.2rem;
    }

    /* 대시보드 / 계약 현황 */

    .dash .current .input_box input::placeholder,
    .dash .duration .calendar input::placeholder {
        font-size: 0.8rem;
    }

    /* 대시보드 / 이용가이드 */

    .dash .others .guide .swiper-pagination {
        position: relative;
        z-index: 1;
    }

    .dash .others .guide .swiper-pagination-bullet-active {
        width: 40px;
        background-color: var(--blue-color);
        border-radius: 5px;
        transition: 0.3s;
    }

    .docu_progress ul li,
    .dash .start_area .box li {
        width: 100%;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }

    .dash .others .guide .slide_btn {
        position: absolute;
        width: 100%;
        bottom: 15px;
    }

    .dash .others .guide .swiper-button-next {
        width: 30px;
        height: 30px;
        background: url("../images/slide_right.png") no-repeat center / cover;
    }

    .dash .others .guide .swiper-button-prev {
        width: 30px;
        height: 30px;
        background: url("../images/slide_left.png") no-repeat center / cover;
    }

    .myplan .sec {
        padding: 20px;
    }

    /* 마이페이지 / 결제 수단 및 내역 */

    .bill .sec {
        padding: 20px;
    }

    .bill .tit01 {
        font-size: 1rem;
    }

    .bill .payment .flex a,
    .bill .payment_his .flex a {
        font-size: 0.8rem;
    }

    .bill .payment .box .txt01 {
        font-size: 0.8rem;
    }

    .bill .payment .box > ul .card_info {
        margin-bottom: 15px;
    }

    .bill .payment .box > ul .card_info .info {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .bill .payment .box > ul .card_info .info .bold {
        display: block;
        width: 100%;
        order: 2;
    }

    .bill .payment .box > ul .card_info .info .txt02 {
        order: 3;
        margin: 0 10px 0 0;
    }

    .bill .payment .box > ul .card_info .info .use {
        order: 1;
        margin-bottom: 5px;
    }

    /* 결제모달 */

    .modal .area {
        width: 95%;
    }

    /* 문서함 검색창 */

    .search_bar {
        display: none;
    }

    .search_bar.mb {
        position: relative;
        display: block;
    }

    .search_bar.mb .word {
        border-top: 1px solid var(--gray-color);
        border-bottom: 1px solid var(--gray-color);
        padding: 10px;
        box-sizing: border-box;
    }

    .search_bar.mb .word .flex {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        padding: 0 10px;
    }

    .search_bar.mb .word .flex .filter span {
        font-size: 14px;
    }

    .search_bar.mb .word .input_box {
        flex-grow: 3;
    }

    .search_bar.mb .word .filter {
        flex-grow: 1;
        text-align: right;
    }

    .search_bar.mb .word .input_box input::placeholder {
        font-size: 14px;
    }

    .search_bar.mb .input_box button {
        border: none;
    }

    .search_bar.mb .filter_con {
        position: absolute;
        display: none;
        width: 100%;
        top: 0;
        padding: 10px;
        box-sizing: border-box;
        transform: translateY(-58px);
        background-color: #fff;
        z-index: 10;
    }

    .search_bar.mb .filter_con.show {
        display: block;
    }

    .search_bar.mb .filter_con > div {
        margin: 10px 0 5px;
    }

    .search_bar.mb .filter_con > div p {
        margin-bottom: 5px;
    }

    .search_bar.mb .word {
        border: none;
        padding: 0;
    }

    .search_bar.mb .filter_con .word .flex,
    .search_bar.mb .filter_con .date .flex {
        flex-wrap: wrap;
        gap: 0;
        padding: 0;
    }

    .search_bar.mb .filter_con .word .input_box,
    .search_bar.mb .filter_con .date .input_box {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .search_bar.mb .filter_con .word .select_box,
    .search_bar.mb .filter_con .date .select_box {
        width: 100%;
        min-width: 110px;
    }

    .search_bar.mb .filter_con .word .select_box select,
    .search_bar.mb .filter_con .date .select_box select {
        width: 100%;
    }

    .search_bar.mb .filter_con .label button,
    .search_bar.mb .filter_con .docu button {
        width: 100%;
    }

    .search_bar.mb .filter_con .closeFilter {
        text-align: right;
    }

    /* 문서함 */

    .info_con .list .docu_info {
        flex-wrap: wrap;
    }

    .info_con .list .moreBtn {
        padding: 5px 0;
    }

    /* 테블릿 */

    .content.temp .search_bar {
        display: block;
    }

    .content.temp .search_bar .word .input_box,
    .content.temp .search_bar .label .labelBtn {
        width: 100%;
    }

    .content.temp .search_bar .word {
        margin: 10px 0;
    }

    .content.temp .search_bar button.wordBtn {
        width: auto;
    }

    .content.temp .search_bar > div p {
        margin-bottom: 5px;
    }

    /* 챗봇 */

    .chatbot .wrapper .inner {
        height: calc(100vh - 150px);
        margin-bottom: 50px;
    }

    .chatbot .wrapper .inner .left .content ul {
        max-width: 400px;
    }
    .chatbot .wrapper .inner .greeting {
        margin-bottom: 50px;
    }
    .chatbot .wrapper .inner .greeting .img_box {
        margin: 0 auto 30px;
    }
    .chatbot .wrapper .inner .chat_box {
        bottom: -50px;
        padding: 10px;
    }
    .chatbot .wrapper .inner .chat_box .border_box {
        width: 100%;
        padding: 0 10px;
    }

    .chatbot .wrapper .inner .greeting .select_list {
        margin-top: 25px;
    }

    .chatbot .wrapper .inner .right .content ul li,
    .chatbot .wrapper .inner .right .content .time,
    .chatbot .wrapper .inner .greeting .txt_box .txt02,
    .chatbot .wrapper .inner .greeting .select_list .txt01,
    .chatbot .wrapper .inner .greeting .select_list > div > ul > li a,
    .chatbot .wrapper .inner .left .content ul li span ul .btn_list .chat_btn,
    .chatbot .wrapper .inner .left .content ul li span,
    .chatbot .wrapper .inner .left .content .time {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .chatbot .wrapper .inner .left .content ul {
        max-width: 250px;
    }

    .chatbot .wrapper .inner .left .content ul li span ul .btn_list .chat_btn .flex p,
    .chatbot .wrapper .inner .left .content ul li span ul .btn_list .able .flex p {
        display: none;
    }
}
@media (max-width: 380px) {
    .chatbot .wrapper .inner .left {
        gap: 10px;
        margin-bottom: 20px;
    }
    .chatbot .wrapper .inner .left .content ul {
        max-width: 290px;
    }
    .chatbot .wrapper .inner .greeting .select_list {
        flex-direction: column;
        gap: 30px;
    }
}
