@charset "utf-8";

#main {
    background-color: #ccc;
    color: #000;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.auth {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #333;
}

.auth > * {
    color: #fff;
}
